influxdb.v3.url=http://127.0.0.1:8181
influxdb.v3.token=
influxdb.v3.org=admin
influxdb.v3.database=B4GMOC46
influxdb.v3.measurement=Process

tag.keys=SY_HOSTCMDCPNAME1,SY_HOSTCMDCPVALUE1,SY_HOSTCMDCPNAME2,SY_HOSTCMDCPVALUE2,SY_HOSTCMDCPNAME3,SY_HOSTCMDCPVALUE3,SY_HOSTCMDCPNAME4,SY_HOSTCMDCPVALUE4,SY_HOSTCMDCPNAME5,SY_HOSTCMDCPVALUE5
field.keys=WA_WAFER_11_TEMPERATURE,WA_WAFER_12_TEMPERATURE,WA_WAFER_13_TEMPERATURE,WA_WAFER_14_TEMPERATURE,WA_WAFER_01_TEMPERATURE,WA_WAFER_02_TEMPERATURE,WA_WAFER_03_TEMPERATURE,WA_WAFER_04_TEMPERATURE,WA_WAFER_05_TEMPERATURE,WA_WAFER_06_TEMPERATURE
time.key=SY_CLOCK

tibco.rv.port=7500
tibco.rv.network=
tibco.rv.daemon=tcp:7500
tibco.rv.subject=KRAFC.PRD.EES.EC.PEMsvr.B4